src/main/mule/deployingtocloudhubbyjenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cc323561-113b-4878-9a9a-c42842616426" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="deployingtocloudhubbyjenkinsFlow" doc:id="ccd482de-4bce-4414-ac17-b8848a365916" >
		<http:listener doc:name="Listener" doc:id="0d642fd2-94ad-49f1-a925-a7ea4418b740" config-ref="HTTP_Listener_config" path="/deploying-by-jenkins"/>
		<ee:transform doc:name="Transform Message" doc:id="3b1c2319-164f-4fed-9062-8b4a125da048" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ef762706-5ef4-4071-b2ac-072c8360868f" message="#[payload]"/>
	</flow>
</mule>
